<div class="">
	<h1>New extraHabitacion</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/extraHabitacion/create" method="post">
				<div class="">
					<label for="">id_extra_habitacion</label>
					<input type="number" name="id_extra_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">jacuzzi</label>
					<input type="checkbox" name="jacuzzi" value="" required="true">
				</div>
				<div class="">
					<label for="">vista_al_mar</label>
					<input type="checkbox" name="vista_al_mar" value="" required="true">
				</div>
				<div class="">
					<label for="">costo_extra</label>
					<input type="number" name="costo_extra" value="" required="false">
				</div>
			<button type="submit">Save extraHabitacion</button>
		</form>
		<br />
		<a href="/extraHabitacion">Index</a>
	</div>
</div>
