<div class="">
	<h1>New perfil</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/perfil/create" method="post">
				<div class="">
					<label for="">id_perfil</label>
					<input type="number" name="id_perfil" value="" required="false">
				</div>
				<div class="">
					<label for="">id_menu</label>
					<input type="number" name="id_menu" value="" required="false">
				</div>
				<div class="">
					<label for="">desc_perfil</label>
					<input type="text" name="desc_perfil" value="" required="false">
				</div>
			<button type="submit">Save perfil</button>
		</form>
		<br />
		<a href="/perfil">Index</a>
	</div>
</div>
