<div class="">
  <h1>New perfil</h1>

  <div class="body">
    <form class="" action="/perfil/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id_perfil</label>
          <input type="number" name="id_perfil" value="<%= element.id_perfil %>" required="false">
        </div>
        <div class="">
          <label for="">id_menu</label>
          <input type="number" name="id_menu" value="<%= element.id_menu %>" required="false">
        </div>
        <div class="">
          <label for="">desc_perfil</label>
          <input type="text" name="desc_perfil" value="<%= element.desc_perfil %>" required="false">
        </div>
      <button type="submit">Update perfil</button>
    </form>
    <br />
    <a href="/perfil">Index</a>
  </div>
</div>