<h1>Show perfil</h1>

	<p>
		<strong>id_perfil:</strong>
		<%= element.id_perfil %>
	</p>
	<p>
		<strong>id_menu:</strong>
		<%= element.id_menu %>
	</p>
	<p>
		<strong>desc_perfil:</strong>
		<%= element.desc_perfil %>
	</p>

<br>
<a href="/perfil/edit/<%= element.id %>">Edit</a>
<a href="/perfil/create">New</a>
<a href="/perfil">Back</a>
