
<div class="container opaque1">
<h2>¡Error!</h2>

<div class="jumbotron" style="color:black">
  <h1> Error </h1>
  <p> <%= exito.desripcion %></p>
  <h3>Detalles</h3>
  <pre>
      <%= exito.rawExito %>
  </pre>
  <p><a class="btn btn-success btn-lg" href="<%= exito.url %>" role="button">Iniciar Sesión</a></p>
</div>
</div>