
<div class="container opaque1">
<h2>Sesión finalizada!</h2>

<div class="jumbotron" style="color:black">
  <h1> Sesión finalizada! </h1>
  <p> <%= fin.desripcion %></p>
  <h3>Detalles</h3>
  <pre>
      <%= fin.rawExito %>
  </pre>
  <p><a class="btn btn-success btn-lg" href="<%= fin.url %>" role="button">Ir a Inicio</a></p>
</div>
</div>