<div class="container opaque1">
    <h2>Buscar habitaciones</h2>
    <form class="form-inline" action="/habitacion" method="post">
        <br/>
        <div class="row">
            <div class="form-group control-group">
                <label for="dateDefault" class="control-label col-md-4">Fecha de Ingreso</label>
                <div class="col-md-1">
                    <input type="date" class="form-control" name="fechaI" id="dateDefault" onchange="updateInputDate();" required>
                </div>
            </div>
            <div class="form-group control-group">
                <label for="dateDefault2" class="control-label col-md-4">Fecha de Salida</label>
                <div class="col-md-1">
                    <input type="date" class="form-control" name="fechaF" id="dateDefault2" required>
                </div>
            </div>
            <div class="form-group control-group">
                <label for="" class="control-label col-md-4">N# de huéspedes</label>
                <div class="col-md-1">
                    <input type="number" min="1" max="400" name="num_huespedes" class="form-control" required>
                </div>
            </div>
            <div class="form-group">
              <div class="">
                <input type="submit" class="btn-default btn-lg btn-block col-md-offset-2" value="Buscar">
                </div>
            </div>
        </div>
    </form>
    <br/><br/>
</div>
<br/><br/>
<div class="container opaque1">
</div>
