<div class="container">
    <h1>Descripción y Servicios</h1>
    <div class="row opaque1">
        <br>
        <div class="col-md-6">
            <p>Situado en las colinas de Niza, a pocos pasos de la célebre Promenade des Anglais, el Hotel Anis es uno de los hoteles de la Costa Azul que mejor responden a las exigencias del huésped con confort y servicios de primera calidad. Se encuentra a 2 km del aeropuerto y de la autopista, y posee un amplio aparcamiento de automóviles, verdadero lujo en una ciudad como Niza. El Hotel Anis le recibirá entre olivos, cedros y magnolias, en jardines con plantas exóticas y una maravillosa piscina descubierta con tumbonas y parasoles, donde podrá saborear un trago apreciando las glicinas, la paz y la tranquilidad del clima templado de la Costa Azul. Los amplios espacios de esta bonita morada mediterránea ofrecen también un rico desayuno con bufé en una espléndida terraza al aire libre, donde es posible disfrutar de muchos días de sol con temperaturas agradables, hasta en el invierno. Si busca paz y tranquilidad después de un paseo por las calles del centro o un día de playa, el Hotel Anis de Niza le ofrece un restaurante en sus refinados interiores. Las elegantes salas climatizadas del lounge bar están abiertas las 24 horas. El restaurante está disponible para suntuosos banquetes de bodas y ofrece sus servicios también en la terraza. La recepción del hotel atiende las 24 horas y realiza reservas de visitas guiadas a Montecarlo y Saint Paul de Vence y excursiones en barco a las localidades de Antibes y Cannes o a las cercanas estaciones de esquí de Isola 2000.</p>
        </div>
        <div class="col-md-6">
            <img src="imagenes/hotel.jpg" width="80%" height="80%" align="middle">
        </div>
        <br>
        <br>
    </div>
    <br>
    <div class="row opaque1">
        <br>
        <div class="col-md-4">
            <img src="imagenes/playa.jpg" width="100%" height="100%" align="middle">
        </div>
        <div class="col-md-4">
            <h2>Servicios disponibles</h2>
            <p>Nuestro hotel, está encantado de poner a su disposición diversos servicios, con la mayor calidad posible.</p>
            <ul class="row">
               <div class="col-md-6">
                <li>26 salones de reuniones</li>
                <li>Parking Privado</li>
                <li>Cajero automático en el hotel</li>
                <li>Cambio de divisas</li>
                <li>Mini Gym 24h</li>
                <li>Habitaciones / instalaciones para personas de movilidad reducida</li>
                </div>
                <div class="col-md-6">
                <li>Restaurantes</li>
                <li>Servicio de planchado</li>
                <li>Servicio de habitaciones 24h</li>
                <li>Servicio de lavandería</li>
                <li>Servicio de limpieza en seco</li>
                <li>Aire acondicionado</li>
                <li>Guardaequipajes</li>
                <li>Internet WiFi disponible en todo el hotel</li>
                </div>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>Servicios Adicionales</h3>
            <p>
                Además de los servicios disponibles en el hotel, también dispone de servicios adicionales que faciliten su estancia: 
            </p>
             <ul>       
                <li>Alquiler de coches con gestión personalizada</li>
                <li> Desayuno en la habitación</li>
                <li> Venta de entradas</li>
            </ul>
            
            <br>
        </div>
    </div>
    <br>
    <br>
</div>