<header>
    <nav class="navbar navbar-inverse">
    </nav>
</header>
<div class="row">
 <div class="col-md-9">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores voluptatem quidem commodi voluptatum ea dolorem, libero sint temporibus corporis, ullam tempore velit cum perspiciatis aspernatur molestiae aliquam obcaecati unde saepe?
 </div>
 <div class="col-md-3">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea libero molestias nesciunt accusantium, nisi doloremque. Qui amet labore accusamus, eius cumque, numquam rem saepe impedit explicabo perspiciatis officiis, nostrum. Id.
 </div>
</div>
