<div class="container">
    <form action="reserva/crear">
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label>Nombre</label>
                    <input class="form-control" type="text" value="Huesped 1" name="nombre_huesped">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <label>DNI</label>
                    <input class="form-control" type="text" value="111" name="dni">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-5">
                    <label>Nombre</label>
                    <input class="form-control" type="text" value="Huesped 2" name="nombre_huesped">
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-5">
                    <label>DNI</label>
                    <input class="form-control" type="text" value="222" name="dni">
                </div>
            </div>
        </div>
        <input type="hidden" name="id_cliente" value="1">
        <input type="hidden" name="id_hab" value="6">
        <input type="hidden" name="id_hab" value="7">
        <button type="submit" class="btn btn-info">Agregar Huespedes</button>
    </form>
</div>
