<div class="container opaque1">
    <h2>Resultados:</h2>
    <br/>
    <div class="col-md-4">
        <button type="button" class="btn btn-primary btn-lg">Reservar</button>
    </div>
    <form action="#">
        <div class="table-responsive">
            <table class="table table-bordered ">
                <thead class="opaque1">
                    <th>Piso</th>
                    <th>Jacuzzi</th>
                    <th>Vista al mar</th>
                    <th>Tipo</th>
                    <th>Habitacion</th>
                    <th>Precio</th>
                    <th>Reservar</th>
                </thead>
                <tbody class="opaque1">
                    <%for(var i=0;i<total;i++){%>
                        <tr>
                            <td>1</td>
                            <td>si</td>
                            <td>si</td>
                            <td>simple</td>
                            <td>imagen</td>
                            <td>precio</td>
                            <td>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="<%=i%>">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <%}%>

                </tbody>
            </table>
        </div>
    </form>
    <br/>
</div>
