<section class="main container">
  <h1>Hola Dani!</h1>
  <br/>
  <header>
    <p>hola</p>
  </header>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat est aspernatur illum sed doloribus, qui consequuntur omnis cupiditate, praesentium voluptatum reiciendis dolor vitae facilis illo perferendis, libero perspiciatis eius sunt. Lorem ipsum
    dolor sit amet, consectetur adipisicing elit. Consectetur non officiis voluptatem officia ipsum deserunt eligendi libero vitae laborum eos maiores error nisi, in corporis ab perferendis saepe voluptas molestiae.
  </p>
  <button class="btn btn-primary">heey</button>
  <br />
  <br />
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Dropdown<span class="caret"></span>
</button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li><a href="#">Action</a></li>
      <li><a href="#">Another action</a></li>
      <li><a href="#">Something else here</a></li>
      <li role="separator" class="divider"></li>
      <li><a href="#">Separated link</a></li>
    </ul>
  </div>


<button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="Tooltip on left">Tooltip on left</button>

</section>
