<div class="">
	<h1>New reHabitacion</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/reHabitacion/create" method="post">
				<div class="">
					<label for="">fecha_reserva_habitacion</label>
					<input type="date" name="fecha_reserva_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">id_habitacion</label>
					<input type="number" name="id_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">id_reserva</label>
					<input type="number" name="id_reserva" value="" required="false">
				</div>
			<button type="submit">Save reHabitacion</button>
		</form>
		<br />
		<a href="/reHabitacion">Index</a>
	</div>
</div>
