<h1>Show reHabitacion</h1>

	<p>
		<strong>fecha_reserva_habitacion:</strong>
		<%= element.fecha_reserva_habitacion %>
	</p>
	<p>
		<strong>id_habitacion:</strong>
		<%= element.id_habitacion %>
	</p>
	<p>
		<strong>id_reserva:</strong>
		<%= element.id_reserva %>
	</p>

<br>
<a href="/reHabitacion/edit/<%= element.id %>">Edit</a>
<a href="/reHabitacion/create">New</a>
<a href="/reHabitacion">Back</a>
