<div class="">
	<h1>New habitacion</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/habitacion/create" method="post">
				<div class="">
					<label for="">id_habitacion</label>
					<input type="number" name="id_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">id_extra_habitacion</label>
					<input type="number" name="id_extra_habitacion" value="" required="true">
				</div>
				<div class="">
					<label for="">id_tipo_habitacion</label>
					<input type="number" name="id_tipo_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">numero_piso</label>
					<input type="number" name="numero_piso" value="" required="false">
				</div>
			<button type="submit">Save habitacion</button>
		</form>
		<br />
		<a href="/habitacion">Index</a>
	</div>
</div>
