<div class="">
	<h1>New haHuesped</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/haHuesped/create" method="post">
				<div class="">
					<label for="">fecha_habitacion_huesped</label>
					<input type="date" name="fecha_habitacion_huesped" value="" required="false">
				</div>
				<div class="">
					<label for="">id_habitacion</label>
					<input type="number" name="id_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">id_huesped</label>
					<input type="text" name="id_huesped" value="" required="false">
				</div>
			<button type="submit">Save haHuesped</button>
		</form>
		<br />
		<a href="/haHuesped">Index</a>
	</div>
</div>
