<div class="">
  <h1>New haHuesped</h1>

  <div class="body">
    <form class="" action="/haHuesped/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">fecha_habitacion_huesped</label>
          <input type="date" name="fecha_habitacion_huesped" value="<%= element.fecha_habitacion_huesped %>" required="false">
        </div>
        <div class="">
          <label for="">id_habitacion</label>
          <input type="number" name="id_habitacion" value="<%= element.id_habitacion %>" required="false">
        </div>
        <div class="">
          <label for="">id_huesped</label>
          <input type="text" name="id_huesped" value="<%= element.id_huesped %>" required="false">
        </div>
      <button type="submit">Update haHuesped</button>
    </form>
    <br />
    <a href="/haHuesped">Index</a>
  </div>
</div>