<h1>Show haHuesped</h1>

	<p>
		<strong>fecha_habitacion_huesped:</strong>
		<%= element.fecha_habitacion_huesped %>
	</p>
	<p>
		<strong>id_habitacion:</strong>
		<%= element.id_habitacion %>
	</p>
	<p>
		<strong>id_huesped:</strong>
		<%= element.id_huesped %>
	</p>

<br>
<a href="/haHuesped/edit/<%= element.id %>">Edit</a>
<a href="/haHuesped/create">New</a>
<a href="/haHuesped">Back</a>
