<div class="">
	<h1>New menu</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/menu/create" method="post">
				<div class="">
					<label for="">id_menu</label>
					<input type="number" name="id_menu" value="" required="false">
				</div>
				<div class="">
					<label for="">desc_menu</label>
					<input type="text" name="desc_menu" value="" required="false">
				</div>
			<button type="submit">Save menu</button>
		</form>
		<br />
		<a href="/menu">Index</a>
	</div>
</div>
