<h1>Show menu</h1>

	<p>
		<strong>id_menu:</strong>
		<%= element.id_menu %>
	</p>
	<p>
		<strong>desc_menu:</strong>
		<%= element.desc_menu %>
	</p>

<br>
<a href="/menu/edit/<%= element.id %>">Edit</a>
<a href="/menu/create">New</a>
<a href="/menu">Back</a>
