<div class="">
	<h1>New cliente</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/cliente/create" method="post">
				<div class="">
					<label for="">id_cliente</label>
					<input type="text" name="id_cliente" value="" required="false">
				</div>
				<div class="">
					<label for="">nombre_cliente</label>
					<input type="text" name="nombre_cliente" value="" required="false">
				</div>
				<div class="">
					<label for="">correo</label>
					<input type="text" name="correo" value="" required="true">
				</div>
				<div class="">
					<label for="">direccion</label>
					<input type="text" name="direccion" value="" required="true">
				</div>
				<div class="">
					<label for="">telefono</label>
					<input type="text" name="telefono" value="" required="true">
				</div>
			<button type="submit">Save cliente</button>
		</form>
		<br />
		<a href="/cliente">Index</a>
	</div>
</div>
