<div class="">
  <h1>New huespedReservaHuespedReservaHuespedes</h1>

  <div class="body">
    <form class="" action="/huespedReservaHuespedReservaHuespedes/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id</label>
          <input type="number" name="id" value="<%= element.id %>" required="false">
        </div>
        <div class="">
          <label for="">huesped_reserva_huesped</label>
          <input type="number" name="huesped_reserva_huesped" value="<%= element.huesped_reserva_huesped %>" required="true">
        </div>
        <div class="">
          <label for="">reserva_huespedes</label>
          <input type="number" name="reserva_huespedes" value="<%= element.reserva_huespedes %>" required="true">
        </div>
      <button type="submit">Update huespedReservaHuespedReservaHuespedes</button>
    </form>
    <br />
    <a href="/huespedReservaHuespedReservaHuespedes">Index</a>
  </div>
</div>