<h1>Show huespedReservaHuespedReservaHuespedes</h1>

	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>huesped_reserva_huesped:</strong>
		<%= element.huesped_reserva_huesped %>
	</p>
	<p>
		<strong>reserva_huespedes:</strong>
		<%= element.reserva_huespedes %>
	</p>

<br>
<a href="/huespedReservaHuespedReservaHuespedes/edit/<%= element.id %>">Edit</a>
<a href="/huespedReservaHuespedReservaHuespedes/create">New</a>
<a href="/huespedReservaHuespedReservaHuespedes">Back</a>
