<div class="">
	<h1>New servicio</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/servicio/create" method="post">
				<div class="">
					<label for="">id_servicio</label>
					<input type="number" name="id_servicio" value="" required="false">
				</div>
				<div class="">
					<label for="">desayuno</label>
					<input type="checkbox" name="desayuno" value="" required="false">
				</div>
				<div class="">
					<label for="">parqueadero</label>
					<input type="checkbox" name="parqueadero" value="" required="false">
				</div>
			<button type="submit">Save servicio</button>
		</form>
		<br />
		<a href="/servicio">Index</a>
	</div>
</div>
