<h1>Show servicio</h1>

	<p>
		<strong>id_servicio:</strong>
		<%= element.id_servicio %>
	</p>
	<p>
		<strong>desayuno:</strong>
		<%= element.desayuno %>
	</p>
	<p>
		<strong>parqueadero:</strong>
		<%= element.parqueadero %>
	</p>

<br>
<a href="/servicio/edit/<%= element.id %>">Edit</a>
<a href="/servicio/create">New</a>
<a href="/servicio">Back</a>
