<div class="">
	<h1>New reserva</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/reserva/create" method="post">
				<div class="">
					<label for="">id_cliente</label>
					<input type="number" name="id_cliente" value="" required="true">
				</div>
				<div class="">
					<label for="">fecha_inicio</label>
					<input type="date" name="fecha_inicio" value="" required="true">
				</div>
				<div class="">
					<label for="">fecha_fin</label>
					<input type="date" name="fecha_fin" value="" required="true">
				</div>
				<div class="">
					<label for="">desayuno</label>
					<input type="checkbox" name="desayuno" value="" required="true">
				</div>
				<div class="">
					<label for="">costo_total</label>
					<input type="number" name="costo_total" value="" required="true">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
			<button type="submit">Save reserva</button>
		</form>
		<br />
		<a href="/reserva">Index</a>
	</div>
</div>
