
<div class="container opaque1">

<h1>Reserva</h1>
	<p>
		<strong>Fecha Inicio:</strong>
		<%= element.fecha_inicio %>
	</p>
	<p>
		<strong>Fecha Fin:</strong>
		<%= element.fecha_fin %>
	</p>
	<p>
		<strong>Desayuno:</strong>
		<% if( element.desayuno ){ %>
                            Si
                           <% }else{ %>
                            No
                           <% } %>
	</p>
	<p>
		<strong>Costo Total:</strong>
		<%= element.costo_total %>
	</p>
<div class="container"><a id="btnHomero" class="btn btn-primary" href="/reserva">Atrás</a>
        </div>
	<br>
</div>

