<div class="">
	<h1>New habitacionhabitacionesreservareservas</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/habitacionhabitacionesreservareservas/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="true">
				</div>
				<div class="">
					<label for="">habitacion_habitaciones</label>
					<input type="number" name="habitacion_habitaciones" value="" required="true">
				</div>
				<div class="">
					<label for="">reserva_reservas</label>
					<input type="number" name="reserva_reservas" value="" required="true">
				</div>
				<div class="">
					<label for="">createdAt</label>
					<input type="datetime" name="createdAt" value="" required="true">
				</div>
				<div class="">
					<label for="">updatedAt</label>
					<input type="datetime" name="updatedAt" value="" required="true">
				</div>
			<button type="submit">Save habitacionhabitacionesreservareservas</button>
		</form>
		<br />
		<a href="/habitacionhabitacionesreservareservas">Index</a>
	</div>
</div>
