<div class="">
	<h1>New habitacionHabitacionesReservaReservas</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/habitacionHabitacionesReservaReservas/create" method="post">
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
				<div class="">
					<label for="">habitacion_habitaciones</label>
					<input type="number" name="habitacion_habitaciones" value="" required="true">
				</div>
				<div class="">
					<label for="">reserva_reservas</label>
					<input type="number" name="reserva_reservas" value="" required="true">
				</div>
			<button type="submit">Save habitacionHabitacionesReservaReservas</button>
		</form>
		<br />
		<a href="/habitacionHabitacionesReservaReservas">Index</a>
	</div>
</div>
