<h1>Show habitacionHabitacionesReservaReservas</h1>

	<p>
		<strong>id:</strong>
		<%= element.id %>
	</p>
	<p>
		<strong>habitacion_habitaciones:</strong>
		<%= element.habitacion_habitaciones %>
	</p>
	<p>
		<strong>reserva_reservas:</strong>
		<%= element.reserva_reservas %>
	</p>

<br>
<a href="/habitacionHabitacionesReservaReservas/edit/<%= element.id %>">Edit</a>
<a href="/habitacionHabitacionesReservaReservas/create">New</a>
<a href="/habitacionHabitacionesReservaReservas">Back</a>
