<div class="">
	<h1>New huesped</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/huesped/create" method="post">
				<div class="">
					<label for="">nombre_huesped</label>
					<input type="" name="nombre_huesped" value="" required="true">
				</div>
				<div class="">
					<label for="">dni</label>
					<input type="" name="dni" value="" required="true">
				</div>
				<div class="">
					<label for="">id_reserva</label>
					<input type="number" name="id_reserva" value="" required="true">
				</div>
				<div class="">
					<label for="">id</label>
					<input type="number" name="id" value="" required="false">
				</div>
			<button type="submit">Save huesped</button>
		</form>
		<br />
		<a href="/huesped">Index</a>
	</div>
</div>
