<div class="">
	<h1>New huesped</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/huesped/create" method="post">
				<div class="">
					<label for="">id_huesped</label>
					<input type="text" name="id_huesped" value="" required="false">
				</div>
				<div class="">
					<label for="">id_habitacion</label>
					<input type="number" name="id_habitacion" value="" required="false">
				</div>
				<div class="">
					<label for="">nombre_huesped</label>
					<input type="text" name="nombre_huesped" value="" required="false">
				</div>
				<div class="">
					<label for="">dni</label>
					<input type="text" name="dni" value="" required="false">
				</div>
			<button type="submit">Save huesped</button>
		</form>
		<br />
		<a href="/huesped">Index</a>
	</div>
</div>
