<div class="">
  <h1>New reservaHabitacion</h1>

  <div class="body">
    <form class="" action="/reservaHabitacion/update" method="post">
      <input name="id" value="<%= element.id %>" hidden="true" required>
        <div class="">
          <label for="">id_reserva</label>
          <input type="number" name="id_reserva" value="<%= element.id_reserva %>" required="false">
        </div>
        <div class="">
          <label for="">id_habitacion</label>
          <input type="number" name="id_habitacion" value="<%= element.id_habitacion %>" required="false">
        </div>
      <button type="submit">Update reservaHabitacion</button>
    </form>
    <br />
    <a href="/reservaHabitacion">Index</a>
  </div>
</div>