<h1>Show reservaHabitacion</h1>

	<p>
		<strong>id_reserva:</strong>
		<%= element.id_reserva %>
	</p>
	<p>
		<strong>id_habitacion:</strong>
		<%= element.id_habitacion %>
	</p>

<br>
<a href="/reservaHabitacion/edit/<%= element.id %>">Edit</a>
<a href="/reservaHabitacion/create">New</a>
<a href="/reservaHabitacion">Back</a>
