<div class="">
	<h1>New usuario</h1>
	<h5>By sails-inverse-model</h5>

	<div class="body">
		<form class="" action="/usuario/create" method="post">
				<div class="">
					<label for="">id_usuario</label>
					<input type="number" name="id_usuario" value="" required="false">
				</div>
				<div class="">
					<label for="">id_perfil</label>
					<input type="number" name="id_perfil" value="" required="false">
				</div>
				<div class="">
					<label for="">nombre_usuario</label>
					<input type="text" name="nombre_usuario" value="" required="false">
				</div>
				<div class="">
					<label for="">correo</label>
					<input type="text" name="correo" value="" required="true">
				</div>
				<div class="">
					<label for="">direccion</label>
					<input type="text" name="direccion" value="" required="true">
				</div>
				<div class="">
					<label for="">telefono</label>
					<input type="text" name="telefono" value="" required="true">
				</div>
			<button type="submit">Save usuario</button>
		</form>
		<br />
		<a href="/usuario">Index</a>
	</div>
</div>
